.btn {
  width: 202px;
  height: 70px;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.78px;
  background:#C99E71;
  color: white;

  &:hover{
    background:#00000000;
    color: white;
    border: 1px solid #C99E71;
    
}

  
}
